@import "tailwindcss";

@theme {
  --color-PrimaryGray: #171717;
  --color-SecondaryGray: #1c1c1c;
  --color-TertiaryGray: #2b2b2b;
  --color-TextGray: #555554;
}

html,
body {
  font-family: var(--font-inter), system-ui, sans-serif;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
